 <table class="table">
    <thead>
      <tr> Title</tr>
      <tr> Description</tr>
      <tr> Amount</tr>
      <tr> Show</tr>
      <tr> Edit</tr>
      <tr> Delete</tr>
    </thead>
    <tbody>
    <tr> <%= expense.title %></tr>
    <tr> <%= expense.description %></tr>
    <tr> <%= expense.amount %></tr>
    </tbody>
  </table>

</div>
